.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:red
}

.cookie{
    width: 100%;
    position: fixed;
    bottom: 0;
}

.containerdiv{
    display: flex;
    justify-content: space-around;
    padding:20px;
    background-color: lightblue;
    transition: bottom 0.6s ease-in-out;
    position: relative;
}

.btn{
    margin-left: 10px;
    background-color: red;
}